#zoom {
  box-shadow: 3px 3px 2px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  height: 500px;
  width: 320px;
}
#zoomimg {
  transform-origin: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
