.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1rem;
  background: rgba(243, 238, 166, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper:hover > .blur {
  filter: blur(3px);
}
.img-wrapper > .blur {
  filter: blur(0px);
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 300ms ease-in-out;
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}
.img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
}
