.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 20px;
  margin-top: 650px;
}

.content-2 {
  padding: 20px;
  margin-top: 20px;
}

.text-content {
  margin-top: 250px;
}
